<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body" th:data-role="${#authentication.getAuthorities()}">
<nav th:replace="~{layout :: navigationCustomer}"  ></nav>
<header th:replace="~{layout :: header (${breadCrumbs})}"></header>
<main>
    <div class="fail-container">
        <p>You don't have any reservation now</p>
        <p>Book a room first in Vacant Room tab and come back here to see the reservation</p>
    </div>
    <a class="blue-button" th:href="@{/room/vacantRoom}">Back to Vacant Room</a>
</main>
<footer th:replace="~{layout :: footer}"></footer>
<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>