<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body" th:data-role="${#authentication.getAuthorities()}" >
<nav sec:authorize="hasAuthority('SuperAdmin')" th:replace="~{layout :: navigationSuperAdmin}"></nav>
<nav sec:authorize="hasAuthority('Admin')" th:replace="~{layout :: navigationAdmin}"></nav>
<nav sec:authorize="hasAuthority('Customer')" th:replace="~{layout :: navigationCustomer}"></nav>
<header th:replace="~{layout :: header (${breadCrumbs})}"></header>
<main>
    <div class="grid-container customer-index">
        <table>
            <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Check In Date</th>
                <th>Check Out Date</th>
                <th>Room Number</th>
                <th>Bill</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tr : ${grid}">
                <td th:text="*{tr.id}"></td>
                <td th:text="*{tr.checkIn}"></td>
                <td th:text="*{tr.checkOut}"></td>
                <td th:text="*{tr.roomNumber}"></td>
                <td th:text="*{tr.getBillFormatRupiah}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">
                    <div class="pagination">
                        <div th:text="|page ${currentPage} of ${totalPages}|"></div>
                        <div>
                            <a th:each="loop:${#numbers.sequence(1,totalPages)}"
                               th:href="@{/transaction/index(page=${loop},username=${username})}"
                               th:text="${loop}"></a>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</main>
<footer th:replace="~{layout :: footer}"></footer>
<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>